/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #D9C27A;
  font-family: Arial, sans-serif;
  color: #000;
}

/* HEADER */
.top-header {
  background: #000;
  color: #F3CC4C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 22px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
  margin-right: 14px;
}

.tagline {
  font-size: 14px;
}

.main-nav a {
  color: #F3CC4C;
  text-decoration: none;
  margin: 0 18px;
  font-weight: bold;
  font-size: 18px;
}

.main-nav a:hover {
  text-decoration: underline;
}

/* MINI PLAYER */
.mini-player {
  display: flex;
  align-items: center;
  border: 2px solid #F3CC4C;
  border-radius: 12px;
  padding: 6px 12px;
  background: #000;
  gap: 8px;
}

#playPauseBtn {
  background: none;
  border: none;
  color: #F3CC4C;
  font-size: 20px;
  cursor: pointer;
}

.mini-title {
  font-weight: bold;
  color: #F3CC4C;
}

.mini-live-dot {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin-left: 6px;
}

.mini-live-text {
  color: red;
  font-size: 14px;
}

/* HERO */
.hero {
  text-align: center;
  margin-top: 20px;
}

.hero-img {
  width: 320px;
  max-width: 90%;
}

/* CONTENT BOXES */
.home-container {
  max-width: 900px;
  margin: 40px auto;
}

.home-box {
  background: #F6F0E3;
  border: 3px solid #000;
  padding: 26px;
  margin-bottom: 26px;
  border-radius: 12px;
}

.btn {
  display: inline-block;
  padding: 10px 18px;
  background: #000;
  color: #F3CC4C;
  border-radius: 8px;
  margin-right: 10px;
}

.btn-light {
  display: inline-block;
  padding: 10px 18px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 8px;
}

.link {
  color: #000;
  font-weight: bold;
}

/* FOOTER */
.footer {
  background: #000;
  color: #F3CC4C;
  padding: 15px;
  text-align: center;
  margin-top: 60px;
}
