/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d9c27c;
    color: black;
    line-height: 1.6;
    padding-top: 80px; /* space for fixed header */
}

/* HEADER + NAV */
header {
    background-color: black;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    margin-right: 20px;
}

.header-text {
    font-size: 14px;
    color: #ffcf48;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffcf48;
}

/* MINI PLAYER */
.live-player {
    background: black;
    border: 2px solid #ffcf48;
    padding: 8px 14px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.live-text {
    color: #ffcf48;
    font-weight: bold;
}

.live-dot {
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
}

/* MAIN CONTENT */
main {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

.section-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 3px solid black;
}

/* FOOTER */
footer {
    background-color: #000;
    color: white;
    padding: 40px;
    text-align: center;
    margin-top: 40px;
}
